html {
	box-sizing: border-box;
	background-color: #222222;
}

*,
*:before,
*:after {
	/* border: 1px solid black;
	padding: 5px; */
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	max-width: 70.3%;
	font-family: 'Roboto';
}

.container {
	display: grid;
	grid-template-columns: 1.477fr 2fr 2fr 1fr;
	grid-template-rows: repeat(6, minmax(150px, 1fr));
	height: 100vh;
	background-color: #e2e8f0;
}

.header {
	grid-column: 2 / -1;
	grid-row: span 1;
	display: flex;
	flex-direction: column;
	background: #ffffff;
	border-bottom: 1px solid #cbd0d8;
	box-shadow: 0 4px 2px -2px #cbd0d8;
}

.search__area {
	height: 33%;
}

.navbar {
	flex: 1;
}

.sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;
	grid-column: span 1;
	grid-row: 1/-1;
	background-color: #1992d4;
}

.sidebar__content {
	height: clamp(50px, 60px, 70px);
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.sidebar__content > div {
	color: #ffffff;
}

.first-segment,
.second-segment {
	flex: 1;
}

.dashboard {
	height: 10%;
}

.article {
	grid-column: 2/4;
	grid-row: 2/-1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto-fill, 1fr);
	padding-left: 30px;
	padding-right: 15px;
	padding-bottom: 60px;
	column-gap: 30px;
}

.card {
	height: 277px;
	padding: 30px;
	background: #ffffff;
	border-left: 10px solid #f0b429;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border-right: 1px solid #cbd0d8;
	border-bottom: 1px solid #cbd0d8;
	box-shadow: 3px 3px 3px #cbd0d8;
}

.text h2,
.text p {
	margin: 0;
}

.symbols {
	display: flex;
	height: 30px;
	justify-content: flex-end;
	gap: 40px;
}
.heading {
	grid-column: 1/-1;
	height: 50px;
	width: 100%;
}
.right-bar {
	display: grid;
	grid-template-rows: 50px 1fr 50px 1fr;
	grid-column: 4/5;
	grid-row: 2/-1;
	grid-gap: 30px;
	padding-left: 15px;
	padding-right: 30px;
	padding-bottom: 60px;
}

.announce {
	height: 100%;
	width: 350px;
	background: #ffffff;
	border-radius: 10px;
	border-right: 1px solid #cbd0d8;
	border-bottom: 1px solid #cbd0d8;
	box-shadow: 4px 4px 4px #cbd0d8;
	padding: 30px;
}

.trending {
	background: #ffffff;
	height: 92.7%;
	border-radius: 10px;
	border-right: 1px solid #cbd0d8;
	border-bottom: 1px solid #cbd0d8;
	box-shadow: 4px 4px 4px #cbd0d8;
	padding: 30px;
}

h2 {
	margin-bottom: 0;
}
